
/* Global */
* {
    height: max-content;
    text-align: center;
    color: #694405;
    background-color: #404040;
    font-family: sans-serif;
}
table {
    border-spacing: 10px;
}
td {
    box-sizing: border-box;
    border-radius: 10px;
}

/* Specific elements */
#game {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr max-content 1fr max-content 3fr;
    grid-template-rows: 5vh max-content 5vh max-content max-content;
}
#title {
    grid-column: 2 / 5;
    grid-row: 2;
    color: #FDEDD2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: bold;
}
#field {
    grid-column: 2;
    grid-row: 4 / 6;
}
#input {
    grid-column: 4;
    grid-row: 4;
}
#control {
    grid-column: 4;
    grid-row: 5;
    border-spacing: 60px 10px;
}

/* Tile types */
.letter {
    width: 80px;
    height: 80px;
    font-size: 60px;
}
.key {
    width: 70px;
    height: 90px;
    font-size: 50px;
}
.control {
    height: 70px;
    font-size: 50px;
}

/* Tile states */
.empty, .empty * {
    background-color: #FDEDD2;
}
.position, .position * {
    background-color: #B3CA14;
}
.word, .word * {
    background-color: #F8CA00;
}
.miss, .miss * {
    background-color: darkgray;
}
